.stream-card-thumbnail {
    height: 180px;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: right;
    padding-right: 2%;
    padding-bottom: 2%;
}